<!DOCTYPE html>
<html>
<head>
    <title>Layout Home Controller</title>
</head>
<body>
    <div>
        <a href="Home/Index">Домашняя страница</a>
        <a href="Home/ShowAll">Список всех компаний ебать</a>
    </div>
</body>
</html>