<!DOCTYPE html>
<html>
<head>
    <title>Layout Company</title>
</head>
<body>
    <a href="Company/ShowAll">Список всех компаний</a>
    <a href="Company/Create">Внести в базу новую комапнию</a>
    <div>
        @RenderBody()
    </div>
</body>
</html>