<!DOCTYPE html>
<html>
<head>
    <title>Create Company</title>
</head>
<body>
    <h2>Create Company Page</h2>
    <form>
        <label>Name</label>
        <input type="text"/>
        <label>Country</label>
        <input type="text"/>
        <input type="submit" value="Send"/>
    </form>
</body>
</html>