
<!DOCTYPE html>
<html>
<head>
    <title>Create Company</title>
</head>
<body>
    <h2>Create Company Page</h2>
    <form method="post">
        <label>Id</label>
        <input type="number" name="id"/>
        <label>Name</label>
        <input type="text" name="name"/>
        <label>Country</label>
        <input type="text" name="country"/>
        <input type="submit" value="Send"/>
    </form>
</body>
</html>