<!DOCTYPE html>
<html>
<head>
    <title>Layout Page</title>
</head>
<body>
    <a href="/Home/Index">Домашняя страница Home Controller</a> |
    <a href="/Company/ShowAll">Просмотреть все компании Company Controller</a>
    <div>
        @RenderBody()
    </div>
</body>
</html>